<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Site SVD</title>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    </head>

    <header class="bg-zinc-300 bg-opacity-15 rounded-lg shadow m-6">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <h1
                class="text-5xl font-extrabold font-sans text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-500">
                Compression
                d'images<small class="ms-2 font-semibold text-gray-700 dark:text-gray-400 font-sans">utilisant
                    la SVD</small></h1>

        </div>
    </header>

    <body>
        <div class="grid grid-cols-2 gap-4 w-full mx-auto max-w-screen-xl ">
            <div class="w-full mx-auto pt-10">
                <figure class="max-w-lg">
                    <img class="h-auto rounded-lg mx-auto" 
                        id = "compressed-image"
                        src="{{url_for('static',filename='images/math100.jpg')}}"
                        alt="compressed-image">
                </figure>
            </div>
            <div class="w-full mx-auto pt-10 items-center flex md:flex md:flex-grow justify-center">
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                    <span
                        class="relative px-10 py-5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 text-sm text-gray-900 text-xl sm:text-center font-semibold font-sans">
                        Téléverse une photo
                    </span>
                </button>
            </div>
        </div>
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between pt-5 pb-20">
            <label for="minmax-range" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white font-sans">% de
                compression</label>
            <input id="minmax-range" type="range" min="1" max="100" value="1"
                class="w-full h-2 bg-gradient-to-br from-cyan-500 to-blue-5000 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
        </div>
    </body>



    <footer class=" bg-white rounded-lg shadow m-4 dark:bg-gray-800">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 font-sans"> Par Pr Sébastien Le Digabel,
                Julien
                Racette et Odréanne Breton. Polytechnique Montréal
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6 font-sans">À propos</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6 font-sans">Contact</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6 font-sans">ENG</a>
                </li>
            </ul>
        </div>
    </footer>



    <script src="{{url_for('static',filename='src/index.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</html>
